  <!-- Containers
      ================================================== -->
      <div class="bs-docs-section">
        <div class="row" >
          <div class="col-lg-3" ng-repeat="iframe in iframes">
            <div class="bs-component">
              
              <div class="panel panel-default transparentBackground">
                <div class="panel-body 0Padding">
                  <h1>Its a single video</h1>
                  <span ng-bind="test"></span>                  
                </div>
              </div>

            </div>
          </div>   
        </div>
      </div>

      <h1>Its a single video</h1>

     <!--  <dir-pagination-controls template-url="dirPagination.tpl.html"></dir-pagination-controls> -->
      <!-- http://www.michaelbromley.co.uk/blog/108/paginate-almost-anything-in-angularjs -->

       
       


